:root{
--Strong-cyan: hsl(172, 67%, 45%);
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan: hsl(186, 14%, 43%);
--Dark-grayish-cyan-2: hsl(184, 14%, 56%);
--Light-grayish-cyan-2: hsl(185, 41%, 84%);
--Light-grayish-cyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}
body{
  font-size: 18px;
  font-family: 'Space Mono', monospace;
  background-color: var(--Light-grayish-cyan);
  transition: background-color 0.3s;
}
@media screen and (min-width:1024px) {
  body{
    overflow-y: hidden;
  }
}
.main{
  padding-bottom: 5em;
}
.header{
  position: relative;
  height: 50px;
  text-align: right;
}
.header__img{
  position: absolute;
  width: 25px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen  and (min-width:1024px){
  .header__img{
    cursor: pointer;
  }
}
.title{
  color: var(--Dark-grayish-cyan);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.title--gray{
  display: block;
}
.calculator{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
@media screen and (min-width:768px) {
  .calculator{
    width: 90%;
  }
}
@media screen and (min-width:1024px) {
  .calculator{
    width: 70%;
  }
}
.form{
  background-color: var(--White);
  padding: 0.8em;
  border-radius: 10px;
  box-shadow:  2px 3px 7px rgb(0 0 0 /0.25);
  transition: background-color 0.3s;
}
@media screen and (min-width:768px) {
  .form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 2em;
  }
}
.form__inputs,
.peoples{
  height: 75px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.peoples{
  position: relative;
}
.people__error{
  position: absolute;
  top:5px;
  right: 0;
  color: #ff6347;
  font-size: 0.8rem;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.3s;
}
@media screen and (min-width:1024px) {
  .people__error{
    font-size: 1.2rem;
  }
}
.show-error{
  opacity: 1;
}
.bill__label,
.tip__label,
.label__people{
  color: var(--Dark-grayish-cyan);
  font-weight: 700;
}
.input{
  padding: 0.5em;
  padding-left: 0.8em;
  outline: none;
  border: none;
  border-radius: 7px;
  background-repeat: no-repeat;
  background-position: 10px;
  color: var(--Very-dark-cyan);
  font-weight: 700;
  font-size: 1.2rem;
  text-align: right;
}
.dark{
  color: var(--White);
  border: 1px solid;
}
.dark--form{
  background-color: rgb(13, 11, 19);
  border: 1px solid #fff;
}
.input--bill{
  background-color:var(--Light-grayish-cyan);
  background-image: url('../images/icon-dollar.svg');
}
@media screen and (min-width:1024px) {
  .input--bill:hover{
    cursor: pointer;
    border: 2px solid var(--Strong-cyan);
  }
}
.tip{
  margin-bottom: 25px;
}
.tip__grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 10px;
}
@media screen and (min-width:1024px) {
  .tip__grid{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }
}
.tip__value{
  width:120px;
  padding: 0.5em;
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  border-radius: 7px;
  font-size: 1.5rem;
}
.input--tip{
  width: 120px;
  background-color: var(--Light-grayish-cyan);
}
@media screen and (min-width:1024px) {
  .input--tip:hover{
    cursor: pointer;
    border:2px solid var(--Strong-cyan)
  }
  .tip__value:hover{
    cursor: pointer;
    background-color: var(--Strong-cyan);
  }
}
.add-tip{
  background-color: var(--Strong-cyan);
}
.input--people{
  background-color: var(--Light-grayish-cyan);
  background-image: url('../images/icon-person.svg');
  background-repeat: no-repeat;
}
.error{
  border: 2px solid hsl(9, 100%, 64%);
}
.estimate{
  margin-top: 25px;
  padding-bottom: 1em;
  border-radius: 7px;
  background-color: var(--Very-dark-cyan);
}
.amount,
.total{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.amount__title,
.total__title{
  display: flex;
  flex-direction: column;
}
.amount__value,
.total__value{
  color: var(--Strong-cyan);
  font-size: 2.2rem;
  font-weight: 700;
}
.amount__label:first-child,
.total__label:first-child{
  font-weight: 700;
  color: var(--White);
}
.amount__label:last-child,
.total__label:last-child{
  color: var(--Dark-grayish-cyan-2);
  font-weight: 700;
}
.button{
  display: block;
  width: 90%;
  padding: 0.6em;
  outline: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 7px;
  color: var(--Very-dark-cyan);
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow:  2px 3px 7px rgb(0 0 0 /0.45);
}
@media screen and (min-width:1024px) {
  .button{
    cursor: pointer;
  }
}
.button--reset{
  background-color: var(--Strong-cyan);
}
.button--calculate{
  background-color: white;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 /0.5);
  display: grid;
  place-items: center;
  transform: scale(0);
  transition:0.4s
}
.modal--show{
  transform: scale(1);
}
.modal--content{
  position: relative;
  width: 80%;
  height: 250px;
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  border-radius: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
}

.modal--img{
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
}
.modal--button{
  width: 100px;
  padding: 0.8em;
  border: 1px solid var(--White);
  border-radius: 7px;
  text-align: center;
}
.modal--text{
  text-align: center;
}
@media screen  and (min-width:768px){
  .modal--content{
    width: 400px;
  }
}
@media screen and (min-width:1024px) {
  .modal--content{
    width: 400px;
    font-size: 1.2rem;
  }
  .modal--button{
    cursor: pointer;
  }
}